<h3>Game</h3>

<div class="container">
    <p>
        <label>
            Enter No of players:
            <input type="text" />
        </label>
        <button @onclick="btnSubmit_onclick" class="btn btn-primary">
            Submit
        </button>
    </p>
</div>


@code {
     private void btnSubmit_onclick()
    {
    }
}
